.our-contacts__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.our-contacts__wrapper {
  width: 87.5%;
  margin-left: 6.25%;
  display: flex;
  justify-content: space-between;
}

.our-contacts__text {
  font-size: 14px;
  line-height: 20px;
}

.our-contacts__map {
  position: relative;
  display: flex;
  justify-content: center;
}

.our-contacts__image-map {
  position: releative;
}

.our-contacts__image-pin {
  position: absolute;
}
