.page-header {
  position: relative;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .page-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .page-header__logo-image {
    height: 66px;
    padding-top: 10px;
    margin: 0 auto;
    padding-right: 100px;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0;
    padding-left: 110px;
    min-height: 165px;
  }
}
