.site-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswaldmedium", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.site-list__link {
  padding-top: 22px;
  padding-bottom: 24px;
  text-decoration: none;
  color: @basic-black;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__item {
    margin-right: 35px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    color: @basic-white;
  }
}
