.page-footer {
  display: flex;
  flex-direction: column;
background-color: @basic-grey;
}

.page-footer__logo-text {
  min-height: 95px;
  display: flex;
  justify-content: center;
}

.page-footer__logo-image {
  align-self: center
}

.page-footer__social-list {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 63px;
  align-items: center;

}

.page-footer__social-item {
  list-style: none;
  &:first-child {
    padding-left: 91px;
    padding-right: 36px;
  };
  &:last-child{
    padding-left: 33px;
  };
}

.page-footer__social-image path {
  fill: @special-footer-grey;
}

.page-footer__social-image--vkontakte {
  width: 23px;
  height: 16px;
}

.page-footer__social-image--instagram {
  width: 16px;
  height: 16px;
}

.page-footer__social-image--facebook {
  width: 22px;
  height: 22px;
}

.page-footer__copyright {
  min-height: 78px;
}

.page-footer__bottom-link {
  text-decoration: none;
  color: @special-dark-grey;
  font-size: 16px;
  line-height: 18px;
}

.page-footer__copyright-image {
  width: 27px;
  height: 34px;
  padding-left: 120px;
}


